/* Makes our label white. */

.blocklyTreeLabel {
    color: white;
}


/* Adds padding around the group of categories and separators. */

.blocklyToolboxContents {
    padding: .5em;
}


/* Adds space between the categories, rounds the corners and adds space around the label. */

.blocklyTreeRow {
    padding: 3px;
    margin-bottom: .5em;
    border-radius: 4px;
}


/* Changes color of the icon to white. */

.customIcon {
    color: rgba(238, 237, 245, 0);
}


/* Stacks the icon on top of the label. */

.blocklyTreeRowContentContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.blocklyTreeRow {
    height: initial;
}

.blocklyToolboxDiv {
    /* background: url('Utils/ToolboxFrame.svg') no-repeat;
    background-size: cover;
    padding: 0 0 0 0; */
    border-style: solid;
    border-color: rgb(8, 83, 245);
    border-width: 2px;
    border-radius: 2%;
}

.blocklyFlyout {
    border-style: outset;
    border-color: aqua;
    border-width: 2px;
    border-radius: 1%;
}