#RUN {
    position: absolute;
    top: 2mm;
    right: 38mm;
    background-color: #8F0005;
    border-radius: 1.5mm;
    color: white;
    text-transform: uppercase;
    padding: 3mm 3mm;
}

#SAVE {
    position: absolute;
    top: 2mm;
    right: 20mm;
    background-color: #125d22;
    border-radius: 1.5mm;
    color: white;
    text-transform: uppercase;
    padding: 3mm 3mm;
}

#LOAD {
    position: absolute;
    top: 2mm;
    right: 2mm;
    background-color: #f3e419;
    border-radius: 1.5mm;
    color: white;
    text-transform: uppercase;
    padding: 3mm 3mm;
}

#blocklyDiv {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0
}