.ringLed {
    height: 2em;
    width: 1.5em;
    margin: 0.05em;
    border: solid;
    border-width: 1px;
    border-radius: 10%;
    box-shadow: 0 0 0.3em 0 #61a7d6;
    background-color: #0d5e94;
    transform: skewY(10deg);
}

.ringLedS {
    height: 2em;
    width: 1.5em;
    margin: 0.05em;
    border: solid;
    border-width: 1px;
    border-radius: 10%;
    /* box-shadow: 0 0 0.4em 0 #61a7d6; */
    background-color: #030303;
    transform: skewY(10deg);
}

.editorRingLed {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.colorSec {
    width: 16em;
    height: 2em;
    position: absolute;
    bottom: 0%;
    border-top: solid #79c3f4 1px;
}

#RingDivParent {
    border: solid #79c3f4 5px;
    border-radius: 50%;
    box-shadow: 0 0 0.5em 0 #61a7d6;
    /* border-width: 1px; */
    width: 15em;
    height: 15em;
    top: 2em;
    position: absolute;
    transform: skewY(10deg);
}

#coreRing {
    position: absolute;
    border: solid #36a4ee 5px;
    box-shadow: 0 0 0.5em 0 #61a7d6;
    border-radius: 50%;
    width: 7em;
    height: 7em;
    left: 4em;
    top: 3.5em;
    transform: skewY(10deg);
}

#textRing {
    height: 1.5em;
    width: 16em;
    border-bottom: solid #79c3f4 1px;
}

#editorRingColor {
    border: solid #79c3f4 1px;
    border-radius: 0.5em;
    box-shadow: 0 0 0.5em 0 #61a7d6;
    background-color: #030303;
    color: #a8d8f8;
    /* border-width: 1px; */
    width: 4em;
    height: 20em;
    position: absolute;
    transform: translate(16em, -1.5em);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttonDiv {
    height: 2em;
    width: 4em;
    align-items: center;
    transform: skewX(15deg);
}

.buttonColor {
    position: absolute;
    left: 0.5em;
    top: 0.5em;
    height: 1.2em;
    width: 3em;
    border: solid #79c3f4 1px;
    border-radius: 5px;
    box-shadow: 0 0 0.5em 0 #61a7d6;
}

.buttonColor:active {
    transform: translate(-3px, 3px);
    transition: transform 50ms;
}

.buttonShadow {
    height: 1.2em;
    width: 3em;
    position: absolute;
    left: 0.5em;
    top: 0.5em;
    background-color: transparent;
    border: solid #79c3f4 1px;
    border-radius: 5px;
    transform: translate(-3px, 3px);
}